@font-face {
    font-family: 'iransans';
    src: url(font/IRANSans.eot) format('eot');
    src: url(font/IRANSans.woff) format('woff');
}

/* navbar */
body {
    font-family: 'iransans';
    padding: 0%;
    margin: 0%;
    font-size: small;
}

nav {
    background-color: rgb(255, 255, 255);
}

.logo {
    width: 59px;
    height: 59px;
    margin-left: 30px;
    margin-top: 2px !important;
}

.text-logo {
    margin-left: 5px;
}

.p-logo {
    font-size: 16px;
    margin-right: 3px;
}

#icon-navbar {
    text-decoration: none !important;
    height: 25px;
}

.nav-link {
    font-size: 21px;
    text-transform: capitalize;
    color: rgb(35, 34, 34);
}

.nav-link:hover {
    color: rgb(163, 163, 240);
}

.p-logo {
    color: rgb(166, 45, 108);
}

.text-menu {
    margin-top: -4px;
    font-size: 18px !important;
}



.navbar-icon {
    font-size: 1.5rem;
    color: rgb(26, 25, 26);
    text-decoration: none !important;
    transition-property: color;
    text-rendering: 2s;
    transition-timing-function: linear;
}

/* navbar end */
/*  invertori section */
.invertory {
    background-color: rgb(219, 218, 218);
    margin: 10px;
    margin-bottom: 5px;
}

.music-card {
    border-radius: 1px;
}

.card-img {
    border-top-left-radius: 0px;
}

.card-value {
    background-color: rgb(147, 147, 255);
    color: rgb(255, 255, 255);
    clip-path: polygon(5% 0, 98% 0, 100% 100%, 0 100%);
    transition: 0.3s;
    border-radius: 8px;
}

.card-value:hover {
    background-color: rgba(115, 164, 255, 0.774);
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
}

/* end invertori section */
/* footer */
.footer{
    margin-top: 50px;
    background-color: rgb(45, 45, 45);
}
.foter-icons{
    font-size: 1.5rem;
    text-decoration: none;
    color: yellow;
    transition: all 1s ease-in-out;
}
.foter-icon:hover{
    color: rgb(65, 99, 249);
}
/* end footer */